@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

.input {
  @apply w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-indigo-400;
}

