@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

.input {
  @apply w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-indigo-400;
}

.loader-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #2563eb; /* blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
